html {
	background-color: #F0F8FF;
	font-family: "open sans",sans-serif;
}

body {
	margin: 0;
	max-width: 650px;
	margin: auto;
	padding: 15px;
	border: 1px solid #a8bfd4;
	border-top: none;
	background-color: #FFF;
	overflow-x: hidden;
}

#header {
	font-size: 64px;
	text-align: center;
}

#header h1 {
	margin: 5px;
}

#header h1 img {
	width: 128px;
}

#TOC ul {
	list-style: none;
	overflow: hidden;
	min-height: 30px;
}

#TOC ul li {
	float: left;
	margin-right: 15px;
}

#TOC ul li a{
	text-decoration: none;
	color: #551a8b;
}