html {
	background-color: #F0F8FF;
	font-family: "open sans",sans-serif;
	font-size: 14px;
}

body {
	margin: 0;
	max-width: 650px;
	margin: auto;
	padding: 15px;
	border: 1px solid #a8bfd4;
	border-top: none;
	background-color: #FFF;
	overflow-x: hidden;
}

#header {
	font-size: 64px;
	text-align: center;
}

#header h1 {
	margin: 5px;
}

#header h1 img {
	width: 128px;
}

#TOC ul {
	list-style: none;
	overflow: hidden;
	min-height: 30px;
	font-size: 16px;
}

#TOC ul li {
	float: left;
	margin-right: 15px;
}

#TOC ul li a{
	text-decoration: none;
	color: #551a8b;
}

h2 {
	font-size: 32px;
	border-top: 1px solid #ebf0f5;
	padding-top: 25px;
	margin: 0;
	margin-top: 25px;
}

p {
	line-height: 1.5;
}

p.caption {
	font-style: italic;
	font-size: 12px;
	margin-top: 5px;
}

pre {
	background-color: rgba(0,0,0,0.04);
	border-radius: 3px;
	padding: 15px;
}

code {
	font-family: consolas, monospace;
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;

}

p code, li code {
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;
	background-color: rgba(0,0,0,0.04);
	border-radius: 3px;
}

li {
	line-height: 1.7;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}